{
  "env": {
    "production": {
      "plugins": ["@emotion"]
    },
    "development": {
      "plugins": [["@emotion", { "sourceMap": true }]]
    }
  },
  "presets": [["@babel/preset-react", { "runtime": "automatic" }]]
}