#app {
  width: 100%;
  min-height: 100%;
  transform: translate(0, 0);
  // background-color: #F4F8FB;
  background-color: #f7f5f6;
}

#content {
  box-sizing: border-box;
  width: 100%;
  transform: translate(0, 0);
  overflow: hidden;
}